<!DOCTYPE html>
<html ng-app="appCustomer">
<head>
<base href="/" />

<meta charset="UTF-8"></meta>
<title>Insert title here</title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script>
<script src="./js/app.js"></script>
<script src="./js/controller/main-controller.js"></script>
<script src="./js/controller/customer-controller.js"></script>
<script src="./js/controller/customer-detail-controller.js"></script>
<script src="./js/controller/city-controller.js"></script>
<script src="./js/controller/state-controller.js"></script>
<script src="./js/controller/login-controller.js"></script>
<script src="./js/interceptor/token-interceptor.js"></script>

</head>
<body ng-controller="mainController">

<a href="/customers">Customers</a>
<a href="/cities">Cities</a>
<a href="/states">States</a>
<a href="/login">Login</a>


<div ng-view="ng-view">
	
</div>
<br />
Path: {{$location.path()}}
Template URL:{{$route.current.templateUrl}}
Parameters: {{$routeParams}}
</body>
</html>